body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

a {
  text-decoration-color: gray;
  text-decoration-style: dotted;
}

ul {
  margin-bottom: 3rem;
  list-style-type: circle;
  margin-left: -1rem;
}

header {
  margin-left: 1.3rem;
}

@media (min-width: 770px) {
  ul {
    margin-left: 1rem;
  }

  header {
    margin-left: 2.6rem;
  }
}

li {
  margin-bottom: 0.45rem;
}

.title {
  font-size: 1rem;
}
