@font-face {
  font-family: "dejavu";
  src: url("./assets/fonts/bpg_gel_excelsior.woff") format("woff");
  unicode-range: U+10D0-10F0;
}

body,
html {
  font-family: "dejavu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 15px;
}

::selection {
  background: #898791;
  text-shadow: none;
  color: #fff;
}

a {
  text-decoration-color: #c1c1c1;
}

a:focus {
  outline: 1px dotted #757578;
  /* background: whitesmoke; */
}

a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

ul {
  margin-bottom: 3rem;
  list-style-type: circle;
  color: #343538;
  margin-left: -1rem;
}

header {
  margin-left: 1.3rem;
}

@media (min-width: 770px) {
  ul {
    margin-left: 1rem;
  }

  header {
    margin-left: 2.6rem;
  }
}

li {
  margin-bottom: 0.45rem;
  font-size: 1.03rem;
  line-height: 1.7;
}

li::before {
  content: "\00BB ";
  color: #8d8d8d;
  font-size: 1.1rem;
}

.title {
  font-size: 1rem;
}

/* spinner */
.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  left: 15px;
}

.spinner::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: spinner 400ms linear infinite;
  animation: spinner 400ms linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
