body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

a {
  text-decoration-color: gray;
  text-decoration-style: dotted;
}

ul {
  margin-bottom: 3rem;
  list-style-type: circle;
  margin-left: -1rem;
}

header {
  margin-left: 1.3rem;
}

@media (min-width: 770px) {
  ul {
    margin-left: 1rem;
  }

  header {
    margin-left: 2.6rem;
  }
}

li {
  margin-bottom: 0.45rem;
}

.title {
  font-size: 1rem;
}

/* spinner */
.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  left: 15px;
}

.spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: spinner 400ms linear infinite;
  animation: spinner 400ms linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
